/* .navbar {
    background: linear-gradient(45deg, #7683d9, #d8a0fe);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid .text-center {
    background-color: white;
    margin-bottom: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #7683d9, #ae96ea, #d8a0fe);
    overflow-x: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* g 100 50 */
    gap: 50px 20px;
    /* p 100 50 */
    padding: 20px 10px;
}

.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* w 350 h 300 */
    /* 275 225 */
    /* 250 200 */
    width: 170px; 
    height: 150px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    margin-top: 10px;
    margin-right: 100px;
}

.container .card:hover {
    /* h 350 */
    /* 275 */
    height: 275px;
}

.container .card .imgBx {
    position: absolute;
    /* t 20 */
    /* 10 */
    top: -30px;
    /* w 300 h 200 */
    /* 250 150 */
    width: 120px;
    height: 120px; 
    background: #333;
    border-radius: 7.5px;
    overflow: hidden;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: -90px;
    /* s .75*/
    scale: 1.2;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.container .card .imgBx img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .card .content {
    position:absolute;
    /* t 252 */
    /* 175 */
    top: 100px;
    width: 100%;
    padding: 0, 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
    margin-top: 0px;
}

.container .card:hover .content {
    /* t 130 */
    /* 75 */
    top: 55px;
    /* h 250 */
    /* 300 */
    height: 370px;
}

.container .card .content h2 {
    /* fs- 1.5em */
    font-size: 1.3em;
    font-weight: 500;
}

.container .card .content p {
    color:#333;
    font-size: .7em;
}

.container .card .content a {
    position: relative;
    /* t 15 */
    top: 10px;
    display: inline-block;
    padding: 12px 25px;

}

.content p {
    margin-left: 20px;
    margin-right: 20px;
    color:white;
}

.card .content .btn {
    display: inline-block;
    padding: 10px 10px;
    background-color:#d8a0fe;
    color: #fff;
    text-decoration: none;
}

.card .content .btn:hover {
    background-color: #7683d9;
}

.icon-heart {
    width: 11%;
    padding-bottom: 5px;
}
/* end: card */

/* start:footer */
footer {
    color:white;
    font-size: 65%;
    padding-top: 15px;
    position: relative;
    height: 25vh;
    display: block;
}
 
#footer-row {
    background: linear-gradient(45deg, #7683d9, #d8a0fe);
    position: absolute;
    bottom: 0px;
}

footer p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

footer a {
    margin-left: 7px;
}

#copyright {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 70%;
}

#facebook, #instagram, #tiktok, #twitter {
    width: 20px;
    margin-right: 0px 15px;
}

#icon-apple {
    width: 80px;
    margin-top: 20px;
}

#icon-android {
    width: 80px;
    margin-top: 10px;
}

@media (max-width: 1180px) {
    body > .container {
        transform: scale(0.95);
        transform-origin: top;
        padding: 0px;
        margin: 10px auto;
    }
    footer {
        margin-top: -120px;
    }
}

@media (max-width: 375px) {
    
    body > .container {
        transform: scale(0.85);
        transform-origin: top;
        padding: 0px;
        margin: 10px auto;
    }
    footer {
        margin-top: -200px;
    }
    #footer-about {
        text-align: center;
        margin-top: 20px;
    }
    #footer-quicklinks-1, #footer-quicklinks-2 {
        text-align: center;
    }
    #footer-social {
        margin-top: 40px;
        text-align: center;
    }
    footer p {
        padding: 0px;
        margin: 10px;
    }
    #footer-quicklinks-2 {
        margin-top: -5px;
        margin-bottom: 20px;
    }
    #icon-android, #icon-apple  {
        display: block;
        margin: -12px auto;
        padding: 0px;
    }
    #facebook, #instagram, #twitter, #tiktok {
        text-align: center; 
        margin-bottom: 20px;
    }
}

/* end: footer */
#sign-up {
    display: inline-block;
    padding: 10px 20px;
    background-color: white; 
    color: #9e90e3; 
    text-decoration: none; 
    border-radius: 5px; 
  }

#sign-up:hover {
    background-color: #c9a0f5;
    color:white;
  }

/* 9e90e3
ae96ea
bd9cf0
c9a0f5 */