body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    /* background-color: white; Set the background color for the body */
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(45deg, #7683d9, #d8a0fe);
}

h1 {
    font-size: 900%;
    text-align: center;
    margin-top: 100px;
}

/* start:footer */
footer {
    color:white;
    font-size: 65%;
    padding-top: 15px;
    /* position: relative; */
    height: 25vh;
    display: block;
}
 
#footer-row {
    background: linear-gradient(45deg, #7683d9, #d8a0fe);
    position: absolute;
    bottom: 0px;
}

footer p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

footer a {
    margin-left: 7px;
}

#copyright {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 70%;
}

#facebook, #instagram, #tiktok, #twitter {
    width: 20px;
    margin-right: 0px 15px;
}

#icon-apple {
    width: 80px;
    margin-top: 20px;
}

#icon-android {
    width: 80px;
    margin-top: 10px;
}

@media (max-width: 1180px) {
    .background-wrapper {
    transform: scale(0.85); 
    }
    #icon-pin-1, #icon-pin-2, #icon-pin-3, #icon-pin-4, #icon-pin-5, #icon-pin-6 {
        display: none;
    }
}


@media (max-width: 375px) {
    .circle-container {
        display: none;
    }
    #icon-pin-1, #icon-pin-2, #icon-pin-3, #icon-pin-4, #icon-pin-5, #icon-pin-6 {
        display: none;
    }
    .background-wrapper {
        margin-bottom: 0px;
    }
    #icon-pin-main {
        transform: translate(-50% -90%);
    }
    #girl {
        margin-bottom: 45px;
        padding: 0;
        position: relative;
    }
    #synrgy {
        font-size: 85px;
        position: relative;
        margin-top: -100px;
    }
    footer {
        margin-top: 780px;
        position: relative;
        margin-bottom: -700px;
    }
    #footer-about {
        text-align: center;
        margin-top: 20px;
    }
    #footer-quicklinks-1, #footer-quicklinks-2 {
        text-align: center;
    }
    #footer-social {
        margin-top: 40px;
        text-align: center;
    }
    footer p {
        padding: 0px;
        margin: 10px;
    }
    #footer-quicklinks-2 {
        margin-top: -5px;
        margin-bottom: 20px;
    }
    #icon-android, #icon-apple  {
        display: block;
        margin: -12px auto;
        padding: 0px;
    }
    #facebook, #instagram, #twitter, #tiktok {
        text-align: center; 
        margin-bottom: 20px;
    }
}
/* end: footer */


/* background wrapper */
.background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 45px;
    margin-bottom: 0px;
    /* background-color: white; */
    /* z-index: 0; */

    transform: scale(0.9);
}

/* circle container */
.circle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.circle-row {
    display: flex;
}

.circle-n,
.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 1px;
    transition: background-color 5s, transform 5s;
}

.circle-n {
    background-color: white;
}

.circle {
    background-color: #ddc1fa;
}

.circle:hover {
    background-color: #7864de;
    transition: background-color 0.1s, transform 0.1s;
}

/* content */
.content {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
    z-index: 2;
}

#icon-pin-main {
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-main:hover {
    transform: translate(-50%, 100%) scale(1.3);
}

#icon-pin-1 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(1280%, -300%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-1:hover {
    transform: translate(1280%, -300%) scale(1.3);
}

#icon-pin-2 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-1775%, -900%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-2:hover {
    transform: translate(-1775%, -900%) scale(1.3);
}

#icon-pin-3 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-1385%, -500%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-3:hover {
    transform: translate(-1385%, -500%) scale(1.3);
}

#icon-pin-4 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(1745%, -795%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-4:hover {
    transform: translate(1745%, -795%) scale(1.3);
}

#icon-pin-5 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-565%, -1295%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-5:hover {
    transform: translate(-565%, -1295%) scale(1.3);
}

#icon-pin-6 {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(1890%, 400%); /* positive-right ;  negative-up*/
    z-index: 3;
    transition: transform 0.3s;
}

#icon-pin-6:hover {
    transform: translate(1890%, 400%) scale(1.3);
}

#synrgy {
    color: #7864de;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -230%);
    text-align: center;
}


