* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #7683d9, #ae96ea, #d8a0fe);
    overflow-x: hidden;
}
 
.container {
    margin-top: -30px;
    margin-bottom: -40px;
}
.container .content {
    position: relative;
    width: 100%;
    height: 100vh  ;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container .content .form h1 {
    color: white;
    margin-bottom: 30px;
    display: inline-block;
}

.container .content .form .input {
    margin-bottom: 20px;
}

#sign-in {
    background: linear-gradient(140deg, #7683d9, #d8a0fe);
    color: white;
    border: none;
    margin-bottom: 20px;

}
.remember {
    transform: scale(.75);
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

form .input input {
    width: 300px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 15px;
    color:#7683d9;
    letter-spacing: 1px;
}

#dont, #sign-up {
    text-align: center;
    font-size: 12px;
    color:white;
    text-decoration-line: none;
}

/* start:footer */
footer {
    color:white;
    font-size: 65%;
    padding-top: 15px;
    position: relative;
    height: 25vh;
    display: block;
}
 
#footer-row {
    background: linear-gradient(45deg, #7683d9, #d8a0fe);
    position: absolute;
    bottom: 0px;
}

footer p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

footer a {
    margin-left: 7px;
}

#copyright {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 70%;
}

#facebook, #instagram, #tiktok, #twitter {
    width: 20px;
    margin-right: 0px 15px;
}

#icon-apple {
    width: 80px;
    margin-top: 20px;
}

#icon-android {
    width: 80px;
    margin-top: 10px;
}

@media (max-width: 1180px) {
   .content {
        padding: 0px;
        margin-top: 0px auto;
    }
    footer {
        margin-top: -100px;
    }
}
@media (max-width: 375px) {
    form {

        padding: 0px;
        margin: 10px auto;
    }
    footer {
        margin-top: 420px;
    }
    #footer-about {
        text-align: center;
        margin-top: 20px;
    }
    #footer-quicklinks-1, #footer-quicklinks-2 {
        text-align: center;
    }
    #footer-social {
        margin-top: 40px;
        text-align: center;
    }
    footer p {
        padding: 0px;
        margin: 10px;
    }
    #footer-quicklinks-2 {
        margin-top: -5px;
        margin-bottom: 20px;
    }
    #icon-android, #icon-apple  {
        display: block;
        margin: -12px auto;
        padding: 0px;
    }
    #facebook, #instagram, #twitter, #tiktok {
        text-align: center; 
        margin-bottom: 20px;
    }
}